---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Landing Page Astro Modelo Phenico">
	<main>
		<h1>Bienvenido a la Landing Page Astro Modelo Phenico</h1>
		<p>Esta es una página de inicio creada con Astro y utilizando un diseño personalizado.</p>
	</main>
</Layout>
