<footer
  class="w-full border-t-2 border-secondary/20 flex flex-col md:flex-row justify-center items-center md:justify-between pt-10 pb-20 md:inline"
>
  <span
    >2025 JIM <span aria-hidden class="hidden md:inline">※</span>
    <br aria-hidden class="block md:hidden" />
    codigo libre <span class="text-accent">on</span>
  </span>

  <ul>
    <li>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/GRAMAPHENIA/landing-page-astro-modelo-phenico" class=" text-secondary/80 hover:scale-125 hover:opacity-100 hover:text-black transition inline-block"
        >github</a
      >
    </li>
  </ul>
</footer>
