<section class="mt-32 mx-auto flex flex-col justify-center items-center text-center">
  <h2>
    29 de noviembre <span aria-hidden class="hidden md:inline mx1">.</span>
    <br class="block md:hidden" />19:00 hrs
  </h2>

  <h3 class="pb-10">
    <span>Evento de presentacion</span>
    <span>muga.dev</span>
  </h3>

  <a
    class={`
  border-secondary/30
    border-2
    px-6
    py-2
    text-secondary
    transition-colors
    hover:bg-primary/10
    focus:bg-primary/10
    font-medium uppercase  text-lg 
  `}
    href=""
    target="_blank"
    rel="noopener noreferrer">ingresar</a>
</section>
